td,tr,th{
	padding:20px;
	text-align: left;
}

table{
	border-collapse: collapse;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	font-family: sans-serif;
}

#table{
	border-radius: 10px;	
}

#headers{
	color: white;
}